In [15]:
import pandas as pd
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

In [2]:
data=pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.columns.values

array(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'],
      dtype=object)

<h1>features</h1>

<b>age</b>- the age of the person<br>
<b>sex</b>- the gender of the person<br>
<b>bmi</b>- weights that are relatively high or low relative to height<br>
<b>children</b>- number of children<br>
<b>smoker</b>- smoking<br>
<b>region</b>- the person's residential area in the US, northeast, southeast, southwest, northwest.<br>

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
data=data.dropna(how='any',axis=0)

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
def chang_to_num(name):
    data[name]=le.fit_transform(data[name])
    print(data[name])
for name in data.columns.values:
    chang_to_num(name)

0        1
1        0
2       10
3       15
4       14
        ..
1333    32
1334     0
1335     0
1336     3
1337    43
Name: age, Length: 1338, dtype: int64
0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int32
0       197
1       350
2       331
3        73
4       223
       ...
1333    276
1334    302
1335    422
1336    146
1337    229
Name: bmi, Length: 1338, dtype: int64
0       0
1       1
2       3
3       0
4       0
       ..
1333    3
1334    0
1335    0
1336    0
1337    0
Name: children, Length: 1338, dtype: int64
0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int32
0       3
1       2
2       2
3       1
4       1
       ..
1333    1
1334    0
1335    2
1336    3
1337    1
Name: region, Length: 1338, dtype: int32
0       1005
1         57
2        306
3       1097
4        254
        ...
1333     746
1334     118
1335      32
1336      91
1337    1171
Name: charges, Length: 1338, dtype: int64

In [11]:
y=data['charges']
x=data[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
print(x.head())
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.6,random_state = 0)

   age  sex  bmi  children  smoker  region
0    1    0  197         0       1       3
1    0    1  350         1       0       2
2   10    1  331         3       0       2
3   15    1   73         0       0       1
4   14    1  223         0       0       1

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
model_1=make_pipeline(StandardScaler(),LinearRegression())
model_1.fit(X_train,y_train)
model_1.score(X_test,y_test)

0.7640245440210783

In [24]:
y_pred=model_1.predict(X_test)
mean_absolute_error(y_test,y_pred)

129.77861709806507